### NASA Mars News

* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragragh Text. Assign the text to variables that you can reference later.

```python
# Example:
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."
```

In [1]:
import time
from splinter import Browser
from bs4 import BeautifulSoup as bs
from selenium import webdriver

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Standard splinter code

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [5]:
# create html object and run parser on it
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
soup.title.text

'Mars planet facts news & images | NASA Mars rover + mission info: News '

In [7]:
# to get all recent headlines
headlines = soup.find_all('div', class_="content_title")

for headline in headlines:
    print(headline.text)

NASA's Next Mars Lander Spreads its Solar Wings
Dust Storms Linked to Gas Escape from Mars Atmosphere
Steep Slopes on Mars Reveal Structure of Buried Ice
Mars Mission Sheds Light on Habitability of Distant Planets
NASA Mars Rover Team's Tilted Winter Strategy Works
NASA Builds Its Next Mars Rover Mission
Recurring Martian Streaks: Flowing Sand, Not Water?
NASA's Mars 2020 Mission Performs First Supersonic Parachute Test
More Than 2.4 Million Names Are Going to Mars
Martian Ridge Brings Out Rover's Color Talents
Next Mars Rover Will Have 23 'Eyes'
Mars Rover Mission Progresses Toward Resumed Drilling
Take a Walk on Mars -- in Your Own Living Room
NASA’s MAVEN Mission Finds Mars Has a Twisted Tail
Mars Study Yields Clues to Possible Cradle of Life


NASA Builds Its Next Mars Rover Mission




Recurring Martian Streaks: Flowing Sand, Not Water?




Martian Ridge Brings Out Rover's Color Talents




Dust Storms Linked to Gas Escape from Mars Atmosphere




Steep Slopes on Mars Reveal Structure of Buried Ice




NASA Mars Rover Team's Tilted Winter Strategy Works




NASA Builds Its Next Mars Rover Mission




Recurring Martian Streaks: Flowing Sand, Not Water?




Martian Ridge Brings Out Rover's Color Talents




Dust Storms Linked to Gas Escape from Mars Atmosphere




Steep Slopes on Mars Reveal Structure of Buried Ice




NASA Mars Rover Team's Tilted Winter Strategy Works

In [8]:
# get latest headline and text and save to variables

news_title = soup.find('div', class_="content_title").text
news_p = soup.find('div', class_="article_teaser_body").text

In [9]:
news_title

"NASA's Next Mars Lander Spreads its Solar Wings"

In [10]:
news_p

"NASA's next mission to Mars passed a key test Tuesday, extending the solar arrays that will power the InSight spacecraft once it lands on the Red Planet this November."

### JPL Mars Space Images - Featured Image

* Visit the url for JPL's Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).

* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

* Make sure to find the image url to the full size `.jpg` image.

* Make sure to save a complete url string for this image.

```python
# Example:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'
```

In [16]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

In [17]:
browser.click_link_by_partial_text("FULL IMAGE")

In [18]:
html = browser.html
soup = bs(html, 'html.parser')

In [19]:
link_end = soup.find('img', class_='fancybox-image')
print(link_end["src"])

/spaceimages/images/mediumsize/PIA16729_ip.jpg

In [20]:
featured_image_url = "https://www.jpl.nasa.gov"+(link_end["src"])

In [21]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16729_ip.jpg

### Mars Weather

* Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called `mars_weather`.

```python
# Example:
mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'
```

In [22]:
url3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url3)

In [23]:
html = browser.html
weather_soup = bs(html, 'html.parser')

In [24]:
mars_weather_tweet = weather_soup.find('div', attrs={"class": "tweet", "data-name":"Mars Weather"})

In [25]:
mars_weather_tweet

<div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content original-tweet js-original-tweet " data-conversation-id="957085769541308416" data-disclosure-type="" data-follows-you="false" data-item-id="957085769541308416" data-name="Mars Weather" data-permalink-path="/MarsWxReport/status/957085769541308416" data-reply-to-users-json='[{"id_str":"786939553","screen_name":"MarsWxReport","name":"Mars Weather","emojified_name":{"text":"Mars Weather","emojified_text_as_html":"Mars Weather"}}]' data-screen-name="MarsWxReport" data-tweet-id="957085769541308416" data-tweet-nonce="957085769541308416-1053be3b-8586-4f4b-b2d6-9e177b457a2b" data-tweet-stat-initialized="true" data-user-id="786939553" data-you-block="false" data-you-follow="false">
<div class="context">
</div>
<div class="content">
<div class="stream-item-header">
<a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" data-user-id="786939553" href="/MarsWxReport">
<img alt="" class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/2552209293/220px-Mars_atmosphere_bigger.jpg"/>
<span class="FullNameGroup">
<strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part="">Mars Weather</strong><span>‏</span><span class="UserBadges"></span><span class="UserNameBreak"> </span></span><span class="username u-dir u-textTruncate" data-aria-label-part="" dir="ltr">@<b>MarsWxReport</b></span></a>
<small class="time">
<a class="tweet-timestamp js-permalink js-nav js-tooltip" data-conversation-id="957085769541308416" href="/MarsWxReport/status/957085769541308416" title="7:00 PM - 26 Jan 2018"><span aria-hidden="true" class="_timestamp js-short-timestamp js-relative-timestamp" data-long-form="true" data-time="1517022003" data-time-ms="1517022003000">18h</span><span class="u-hiddenVisually" data-aria-label-part="last">18 hours ago</span></a>
</small>
<div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
<div class="dropdown">
<button aria-haspopup="true" class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
<div class="IconContainer js-tooltip" title="More">
<span class="Icon Icon--caretDownLight Icon--small"></span>
<span class="u-hiddenVisually">More</span>
</div>
</button>
<div class="dropdown-menu is-autoCentered">
<div class="dropdown-caret">
<div class="caret-outer"></div>
<div class="caret-inner"></div>
</div>
<ul>
<li class="copy-link-to-tweet js-actionCopyLinkToTweet">
<button class="dropdown-link" type="button">Copy link to Tweet</button>
</li>
<li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
<button class="dropdown-link" type="button">Embed Tweet</button>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28</p>
</div>
<div class="stream-item-footer">
<div class="ProfileTweet-actionCountList u-hiddenVisually">
<span class="ProfileTweet-action--reply u-hiddenVisually">
<span aria-hidden="true" class="ProfileTweet-actionCount" data-tweet-stat-count="0">
<span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-957085769541308416">0 replies</span>
</span>
</span>
<span class="ProfileTweet-action--retweet u-hiddenVisually">
<span class="ProfileTweet-actionCount" data-tweet-stat-count="7">
<span class="ProfileTweet-actionCountForAria" data-aria-label-part="" id="profile-tweet-action-retweet-count-aria-957085769541308416">7 retweets</span>
</span>
</span>
<span class="ProfileTweet-action--favorite u-hiddenVisually">
<span class="ProfileTweet-actionCount" data-tweet-stat-count="16">
<span class="ProfileTweet-actionCountForAria" data-aria-label-part="" id="profile-tweet-action-favorite-count-aria-957085769541308416">16 likes</span>
</span>
</span>
</div>
<div aria-label="Tweet actions" class="ProfileTweet-actionList js-actions" role="group">
<div class="ProfileTweet-action ProfileTweet-action--reply">
<button aria-describedby="profile-tweet-action-reply-count-aria-957085769541308416" class="ProfileTweet-actionButton js-actionButton js-actionReply" data-modal="ProfileTweet-reply" type="button">
<div class="IconContainer js-tooltip" title="Reply">
<span class="Icon Icon--medium Icon--reply"></span>
<span class="u-hiddenVisually">Reply</span>
</div>
<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero ">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation"></span>
</span>
</button>
</div>
<div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
<button aria-describedby="profile-tweet-action-retweet-count-aria-957085769541308416" class="ProfileTweet-actionButton js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
<div class="IconContainer js-tooltip" title="Retweet">
<span class="Icon Icon--medium Icon--retweet"></span>
<span class="u-hiddenVisually">Retweet</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">7</span>
</span>
</button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
<div class="IconContainer js-tooltip" title="Undo retweet">
<span class="Icon Icon--medium Icon--retweet"></span>
<span class="u-hiddenVisually">Retweeted</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">7</span>
</span>
</button>
</div>
<div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
<button aria-describedby="profile-tweet-action-favorite-count-aria-957085769541308416" class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button">
<div class="IconContainer js-tooltip" title="Like">
<span class="Icon Icon--heart Icon--medium" role="presentation"></span>
<div class="HeartAnimation"></div>
<span class="u-hiddenVisually">Like</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">16</span>
</span>
</button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
<div class="IconContainer js-tooltip" title="Undo like">
<span class="Icon Icon--heart Icon--medium" role="presentation"></span>
<div class="HeartAnimation"></div>
<span class="u-hiddenVisually">Liked</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">16</span>
</span>
</button>
</div>
</div>
</div>
</div>
</div>

In [26]:
mars_weather = weather_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28'

### Mars Facts

* Visit the Mars Facts webpage [here](http://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [27]:
import pandas as pd

In [28]:
url4 = "http://space-facts.com/mars/"
browser.visit(url4)
time.sleep(3)

In [29]:
# create list of table data
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [33]:
# convert list to dataframe
mars_df = tables[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [35]:
# convert dataframe to html
mars_table = mars_df.to_html()
mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
# remove \n's by replacing with ''

mars_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'